body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color:#FFE5E5;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #756AB6;
    color: #fff;
    h1 {
        font-size:60px; 
    }
    
}

nav ul {
    list-style: circle;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    margin-top: 20px;
    h3 {
        font-size:40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #392467;
    }
    h4 {font-size:25px;

    }
    ol {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p {
        font-size:25px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
}

